alabaster==0.7.12
altair==4.1.0
anaconda-client @ file:///C:/ci/anaconda-client_1624480273070/work
anaconda-navigator==1.9.12
anaconda-project @ file:///home/conda/feedstock_root/build_artifacts/anaconda-project_1625845890517/work
appdirs @ file:///home/conda/feedstock_root/build_artifacts/appdirs_1603108395799/work
argh @ file:///home/conda/feedstock_root/build_artifacts/argh_1595627874344/work
argon2-cffi==20.1.0
arrow @ file:///home/conda/feedstock_root/build_artifacts/arrow_1624555980104/work
asn1crypto @ file:///home/conda/feedstock_root/build_artifacts/asn1crypto_1595949944546/work
astor==0.8.1
astroid==2.3.3
astropy @ file:///D:/bld/astropy_1617305602042/work
async-generator==1.10
atomicwrites @ file:///home/conda/feedstock_root/build_artifacts/atomicwrites_1588182545583/work
attrs==20.1.0
autopep8 @ file:///home/conda/feedstock_root/build_artifacts/autopep8_1612428300666/work
Babel @ file:///home/conda/feedstock_root/build_artifacts/babel_1619719576210/work
backcall==0.2.0
backports.functools-lru-cache @ file:///home/conda/feedstock_root/build_artifacts/backports.functools_lru_cache_1618230623929/work
backports.shutil-get-terminal-size==1.0.0
backports.tempfile==1.0
backports.weakref==1.0.post1
base58==2.1.0
bcrypt @ file:///D:/bld/bcrypt_1610521335050/work
beautifulsoup4 @ file:///home/conda/feedstock_root/build_artifacts/beautifulsoup4_1601745390275/work
binaryornot==0.4.4
biopython==1.78
bitarray @ file:///C:/ci/bitarray_1620827742606/work
bkcharts==0.2
black @ file:///home/conda/feedstock_root/build_artifacts/black-recipe_1626468239465/work
bleach==3.1.5
blinker==1.4
bokeh @ file:///D:/bld/bokeh_1625757104898/work
boto==2.49.0
Bottleneck @ file:///D:/bld/bottleneck_1611195728907/work
brotlipy==0.7.0
cached-property @ file:///home/conda/feedstock_root/build_artifacts/cached_property_1615209429212/work
cachetools==4.2.2
certifi==2021.5.30
cffi==1.14.2
chardet @ file:///D:/bld/chardet_1610093646853/work
charset-normalizer @ file:///home/conda/feedstock_root/build_artifacts/charset-normalizer_1626371162869/work
click==7.1.2
cloudpickle @ file:///home/conda/feedstock_root/build_artifacts/cloudpickle_1598400192773/work
clyent==1.2.2
colorama==0.4.3
comtypes==1.1.10
conda==4.10.3
conda-build==3.18.11
conda-pack @ file:///home/conda/feedstock_root/build_artifacts/conda-pack_1611097929029/work
conda-package-handling @ file:///D:/bld/conda-package-handling_1618231670867/work
conda-verify==3.4.2
contextlib2 @ file:///home/conda/feedstock_root/build_artifacts/contextlib2_1624848568296/work
cookiecutter==1.6.0
cryptography @ file:///D:/bld/cryptography_1616851649655/work
cycler==0.10.0
Cython @ file:///D:/bld/cython_1626221662193/work
cytoolz==0.11.0
dask @ file:///home/conda/feedstock_root/build_artifacts/dask-core_1625867571991/work
debugpy @ file:///D:/bld/debugpy_1620178750165/work
decorator==4.4.2
defusedxml==0.6.0
diff-match-patch @ file:///home/conda/feedstock_root/build_artifacts/diff-match-patch_1594679019945/work
distlib==0.3.1
distributed @ file:///D:/bld/distributed_1625875313672/work
Django==2.2.5
docutils @ file:///D:/bld/docutils_1618676397977/work
entrypoints==0.3
et-xmlfile==1.1.0
fastcache @ file:///D:/bld/fastcache_1605447373430/work
filelock @ file:///home/conda/feedstock_root/build_artifacts/filelock_1589994591731/work
flake8 @ file:///home/conda/feedstock_root/build_artifacts/flake8_1601874335748/work
Flask @ file:///home/conda/feedstock_root/build_artifacts/flask_1621629915293/work
fsspec @ file:///home/conda/feedstock_root/build_artifacts/fsspec_1626188337504/work
future @ file:///D:/bld/future_1610147454374/work
gevent @ file:///D:/bld/gevent_1611198021479/work
gitdb==4.0.7
GitPython==3.1.18
glob2==0.7
gmpy2==2.1.0b5
greenlet @ file:///D:/bld/greenlet_1620327704123/work
h5py @ file:///D:/bld/h5py_1624405785450/work
HeapDict==1.0.1
html5lib @ file:///home/conda/feedstock_root/build_artifacts/html5lib_1592930327044/work
idna @ file:///tmp/build/80754af9/idna_1622654382723/work
imagecodecs @ file:///D:/bld/imagecodecs_1623997082549/work
imageio @ file:///home/conda/feedstock_root/build_artifacts/imageio_1594044661732/work
imagesize==1.2.0
importlib-metadata @ file:///D:/bld/importlib-metadata_1625464001364/work
inflection @ file:///home/conda/feedstock_root/build_artifacts/inflection_1598089801258/work
iniconfig @ file:///home/conda/feedstock_root/build_artifacts/iniconfig_1603384189793/work
intervaltree @ file:///tmp/build/80754af9/intervaltree_1598376443606/work
ipykernel==5.3.4
ipython==7.17.0
ipython-genutils==0.2.0
ipywidgets==7.5.1
isort==4.3.21
itsdangerous @ file:///home/conda/feedstock_root/build_artifacts/itsdangerous_1621360792037/work
jdcal==1.4.1
jedi==0.17.2
Jinja2==2.11.2
jinja2-time==0.2.0
joblib @ file:///home/conda/feedstock_root/build_artifacts/joblib_1612898609989/work
json5 @ file:///tmp/build/80754af9/json5_1624432770122/work
jsonschema==3.2.0
jupyter==1.0.0
jupyter-client==6.1.7
jupyter-console==6.1.0
jupyter-core==4.6.3
jupyterlab==2.2.0
jupyterlab-pygments @ file:///home/conda/feedstock_root/build_artifacts/jupyterlab_pygments_1601375948261/work
jupyterlab-server @ file:///tmp/build/80754af9/jupyterlab_server_1594164409481/work
jupyterlab-widgets @ file:///home/conda/feedstock_root/build_artifacts/jupyterlab_widgets_1609173350931/work
keyring @ file:///D:/bld/keyring_1616689430770/work
kiwisolver @ file:///D:/bld/kiwisolver_1610099948875/work
lazy-object-proxy==1.4.3
libarchive-c @ file:///D:/bld/python-libarchive-c_1622603513488/work/dist
llvmlite==0.33.0+1.g022ab0f
locket==0.2.1
lxml @ file:///D:/bld/lxml_1616532526926/work
MarkupSafe==1.1.1
matplotlib @ file:///D:/bld/matplotlib-suite_1620506206452/work
matplotlib-inline @ file:///home/conda/feedstock_root/build_artifacts/matplotlib-inline_1618935594181/work
mccabe==0.6.1
menuinst==1.4.16
mistune==0.8.4
mkl-fft==1.3.0
mkl-random==1.2.2
mkl-service==2.4.0
mock @ file:///D:/bld/mock_1610094800408/work
more-itertools @ file:///home/conda/feedstock_root/build_artifacts/more-itertools_1621606173336/work
mpmath @ file:///home/conda/feedstock_root/build_artifacts/mpmath_1612895720168/work
msgpack @ file:///D:/bld/msgpack-python_1610121836457/work
multipledispatch==0.6.0
mypy-extensions @ file:///D:/bld/mypy_extensions_1610127447970/work
navigator-updater==0.2.1
nbclient @ file:///home/conda/feedstock_root/build_artifacts/nbclient_1614336084111/work
nbconvert==5.6.1
nbformat==5.0.7
ncbi-genome-download @ file:///opt/conda/conda-bld/ncbi-genome-download_1595731728268/work
nest-asyncio @ file:///home/conda/feedstock_root/build_artifacts/nest-asyncio_1617163391303/work
networkx @ file:///tmp/build/80754af9/networkx_1625827426685/work
nltk @ file:///home/conda/feedstock_root/build_artifacts/nltk_1618932666659/work
nose @ file:///home/conda/feedstock_root/build_artifacts/nose_1602434998960/work
notebook==6.1.3
numba==0.50.1
numexpr @ file:///D:/bld/numexpr_1614971526698/work
numpy @ file:///C:/ci/numpy_and_numpy_base_1626271903025/work
numpydoc @ file:///home/conda/feedstock_root/build_artifacts/numpydoc_1601580905698/work
olefile @ file:///home/conda/feedstock_root/build_artifacts/olefile_1602866521163/work
openpyxl @ file:///home/conda/feedstock_root/build_artifacts/openpyxl_1615404969632/work
packaging==20.4
pandas==1.2.5
pandocfilters==1.4.2
paramiko @ file:///home/conda/feedstock_root/build_artifacts/paramiko_1598988093657/work
parso==0.7.1
partd @ file:///home/conda/feedstock_root/build_artifacts/partd_1617910651905/work
path @ file:///D:/bld/path_1623597798061/work
pathlib2 @ file:///D:/bld/pathlib2_1625503280022/work
pathspec @ file:///home/conda/feedstock_root/build_artifacts/pathspec_1605120834673/work
pathtools==0.1.2
patsy==0.5.1
pep8==1.7.1
pexpect @ file:///home/conda/feedstock_root/build_artifacts/pexpect_1602535608087/work
pickleshare==0.7.5
Pillow @ file:///D:/bld/pillow_1625678130042/work
pipenv==2020.11.15
pkginfo @ file:///home/conda/feedstock_root/build_artifacts/pkginfo_1625854086923/work
pluggy @ file:///D:/bld/pluggy_1610318294270/work
ply==3.11
pooch @ file:///home/conda/feedstock_root/build_artifacts/pooch_1623218528920/work
poyo==0.5.0
prometheus-client==0.8.0
prompt-toolkit==3.0.6
protobuf==3.17.3
psutil @ file:///D:/bld/psutil_1610127325750/work
ptyprocess @ file:///home/conda/feedstock_root/build_artifacts/ptyprocess_1609419310487/work/dist/ptyprocess-0.7.0-py2.py3-none-any.whl
py @ file:///home/conda/feedstock_root/build_artifacts/py_1607783655754/work
pyarrow==4.0.1
pycodestyle @ file:///home/conda/feedstock_root/build_artifacts/pycodestyle_1589305246696/work
pycosat @ file:///D:/bld/pycosat_1610094992687/work
pycparser==2.20
pycurl==7.43.0.6
pydeck==0.6.2
pydocstyle @ file:///home/conda/feedstock_root/build_artifacts/pydocstyle_1621377123289/work
pyerfa @ file:///D:/bld/pyerfa_1623067994074/work
pyflakes==2.2.0
Pygments==2.6.1
pylint==2.4.4
pyls-black @ file:///home/conda/feedstock_root/build_artifacts/pyls-black_1595615126037/work
pyls-spyder @ file:///tmp/build/80754af9/pyls-spyder_1613849700860/work
PyNaCl @ file:///D:/bld/pynacl_1610673308520/work
pyodbc @ file:///D:/bld/pyodbc_1625371780292/work
pyOpenSSL @ file:///home/conda/feedstock_root/build_artifacts/pyopenssl_1608055815057/work
pyparsing==2.4.7
PyQt5==5.12.3
PyQt5_sip==4.19.18
PyQtChart==5.12
PyQtWebEngine==5.12.1
pyreadline @ file:///D:/bld/pyreadline_1611175364000/work
pyrsistent==0.16.0
PySocks @ file:///D:/bld/pysocks_1610291742246/work
pytest==6.2.4
python-dateutil==2.8.1
python-jsonrpc-server @ file:///home/conda/feedstock_root/build_artifacts/python-jsonrpc-server_1599827444631/work
python-language-server @ file:///home/conda/feedstock_root/build_artifacts/python-language-server_1607720213724/work
pytz @ file:///home/conda/feedstock_root/build_artifacts/pytz_1612179539967/work
PyWavelets @ file:///D:/bld/pywavelets_1607290958158/work
pywin32==228
pywin32-ctypes @ file:///D:/bld/pywin32-ctypes_1610168396283/work
pywinpty==0.5.7
PyYAML==5.4.1
pyzmq==19.0.2
QDarkStyle @ file:///home/conda/feedstock_root/build_artifacts/qdarkstyle_1617328841504/work
qstylizer @ file:///home/conda/feedstock_root/build_artifacts/qstylizer_1619474581534/work/dist/qstylizer-0.2.0-py2.py3-none-any.whl
QtAwesome @ file:///home/conda/feedstock_root/build_artifacts/qtawesome_1624471247562/work
qtconsole==4.7.6
QtPy==1.9.0
regex @ file:///D:/bld/regex_1625538965244/work
requests @ file:///home/conda/feedstock_root/build_artifacts/requests_1626393743643/work
rope @ file:///home/conda/feedstock_root/build_artifacts/rope_1622405324029/work
Rtree @ file:///D:/bld/rtree_1610147302815/work
ruamel-yaml-conda @ file:///C:/ci/ruamel_yaml_1616016967756/work
scikit-image==0.18.2
scikit-learn @ file:///C:/ci/scikit-learn_1622739500535/work
scipy @ file:///C:/ci/scipy_1618856128765/work
seaborn @ file:///home/conda/feedstock_root/build_artifacts/seaborn-split_1611834504644/work
Send2Trash==1.5.0
simplegeneric==0.8.1
singledispatch @ file:///tmp/build/80754af9/singledispatch_1623948242478/work
sip==4.19.25
six==1.15.0
smmap==4.0.0
snowballstemmer @ file:///home/conda/feedstock_root/build_artifacts/snowballstemmer_1611270869511/work
sortedcollections @ file:///home/conda/feedstock_root/build_artifacts/sortedcollections_1611011426343/work
sortedcontainers @ file:///home/conda/feedstock_root/build_artifacts/sortedcontainers_1621217038088/work
soupsieve @ file:///tmp/build/80754af9/soupsieve_1616183228191/work
Sphinx @ file:///home/conda/feedstock_root/build_artifacts/sphinx_1626290977112/work
sphinxcontrib-applehelp==1.0.2
sphinxcontrib-devhelp==1.0.2
sphinxcontrib-htmlhelp @ file:///home/conda/feedstock_root/build_artifacts/sphinxcontrib-htmlhelp_1621704829796/work
sphinxcontrib-jsmath==1.0.1
sphinxcontrib-qthelp==1.0.3
sphinxcontrib-serializinghtml @ file:///home/conda/feedstock_root/build_artifacts/sphinxcontrib-serializinghtml_1621704833237/work
sphinxcontrib-websupport @ file:///home/conda/feedstock_root/build_artifacts/sphinxcontrib-websupport_1597058540894/work
spyder @ file:///D:/bld/spyder_1624512014225/work
spyder-kernels @ file:///D:/bld/spyder-kernels_1625331360454/work
SQLAlchemy @ file:///D:/bld/sqlalchemy_1626310846218/work
sqlparse @ file:///home/conda/feedstock_root/build_artifacts/sqlparse_1602142927465/work
statsmodels @ file:///D:/bld/statsmodels_1612273760174/work
streamlit==0.85.1
sympy @ file:///D:/bld/sympy_1618015604515/work
tables==3.6.1
tblib @ file:///home/conda/feedstock_root/build_artifacts/tblib_1616261298899/work
terminado==0.8.3
testpath==0.4.4
textdistance @ file:///home/conda/feedstock_root/build_artifacts/textdistance_1611934751977/work
threadpoolctl @ file:///home/conda/feedstock_root/build_artifacts/threadpoolctl_1626092076920/work
three-merge @ file:///home/conda/feedstock_root/build_artifacts/three-merge_1595515817927/work
tifffile @ file:///home/conda/feedstock_root/build_artifacts/tifffile_1625322421387/work
tinycss2 @ file:///home/conda/feedstock_root/build_artifacts/tinycss2_1616270911900/work
toml @ file:///home/conda/feedstock_root/build_artifacts/toml_1604308577558/work
tomli @ file:///home/conda/feedstock_root/build_artifacts/tomli_1625507076587/work
tomlkit @ file:///D:/bld/tomlkit_1621900075893/work
toolz @ file:///home/conda/feedstock_root/build_artifacts/toolz_1600973991856/work
tornado==6.0.4
tqdm @ file:///home/conda/feedstock_root/build_artifacts/tqdm_1625664838498/work
traitlets==4.3.3
typed-ast @ file:///D:/bld/typed-ast_1618337945724/work
typing-extensions @ file:///home/conda/feedstock_root/build_artifacts/typing_extensions_1622748266870/work
tzlocal==2.1
ujson @ file:///D:/bld/ujson_1611250350440/work
unicodecsv==0.14.1
urllib3 @ file:///home/conda/feedstock_root/build_artifacts/urllib3_1624634538755/work
validators==0.18.2
virtualenv==20.4.2
virtualenv-clone==0.5.4
watchdog @ file:///D:/bld/watchdog_1624720412318/work
wcwidth==0.2.5
webencodings==0.5.1
Werkzeug @ file:///home/conda/feedstock_root/build_artifacts/werkzeug_1621518206714/work
whichcraft==0.6.1
widgetsnbextension==3.5.1
win-inet-pton @ file:///D:/bld/win_inet_pton_1610147566231/work
win-unicode-console @ file:///D:/bld/win_unicode_console_1603158644275/work
wincertstore==0.2
wrapt==1.11.2
xlrd @ file:///home/conda/feedstock_root/build_artifacts/xlrd_1610224409810/work
XlsxWriter @ file:///home/conda/feedstock_root/build_artifacts/xlsxwriter_1625412530662/work
xlwings @ file:///D:/bld/xlwings_1626383101708/work
xlwt==1.3.0
xmltodict==0.12.0
yapf @ file:///home/conda/feedstock_root/build_artifacts/yapf_1618790300295/work
zict==2.0.0
zipp @ file:///home/conda/feedstock_root/build_artifacts/zipp_1625284368454/work
zope.event @ file:///home/conda/feedstock_root/build_artifacts/zope.event_1600479883063/work
zope.interface @ file:///D:/bld/zope.interface_1618486200153/work
